<div class = "row">
	<div class="col-2">
		<img class="img-fluid" src="./assets/images/logo/cholosikhi.png">
	</div>
	<div class="col-5">
		<div class="row"><br></div>
		<div class ="row">
			<input type="text" class="form-control" id="id_searchContent" aria-describedby="searchContent" [(ngModel)]="searchContent" placeholder="Search" >
		</div>
	</div>
	<div class="col-1">
		<div class="row"><br></div>
		<button class="btn btn-outline-primary" type="submit" (click)="searchForContent()">Submit</button>
	</div>
	<div class="col-1"  *ngIf="loggedUser == null">
		<div class="row"><br></div>
		<button class="btn btn-outline-primary" type="submit" (click)="userLogin()">Login</button>
	</div>
	<div class="col-1"  *ngIf="loggedUser != null">
		<div class="row"><br></div>
		<button class="btn btn-outline-primary" (click)="userLogoff()">Logoff</button>
	</div>
	 <div class="col-1">
	 	<div class="row"><br></div>
		<p class="text-right font-bold" style="color:brown">{{loggedUser}}</p>
	</div>
	<div class="col-1" *ngIf="loggedUser != null">
		<div class="row"><br></div>
		<input class="btn btn-outline-primary" type="submit" value="My Courses" (click)="myCourses()">
	</div>
</div>