<div class="row ml-4 mb-2 mt-4 style= color:orange;">
	Client-Side Web development Technologies
</div>
<div class="row ml-4 mb-2">
	This will help an engineer understand basics of web development technologies with concept and best practices.
</div>
<div class="row ml-2 mb-2">
	<div class = "col-2">
		Technologies:
	</div>
	<div class = "col-10">
		JavaScript, CSS Basics, Bootstrap, PrimeNG, Angular, Node.js, Node.js and MySQL integration, ReactJS
	</div>
</div><br><!-- <span style="font-family:verdana; font-size: 2vw; color:orange;">t</span>-->
<div class="row ml-4">
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2" style="font-family:verdana; color:brown;">Introduction to Javascript::</div>
		<div class="row ml-2 mr-2">Lessons: Client-side concepts, Basics of Javacsript, Data types, Functions, Control Statements and JS Objects</div>
	</div>
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2" style="font-family:verdana; color:brown;">CSS Basics, Bootstrap PrimeNG:</div>
		<div class="row ml-2 mr-4">Lessons: Cascading Style Sheet basics and usages. Usage of Bootstrap and PrimeNG. Integration of style sheets in Application. </div>
	</div>
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2" style="font-family:verdana; color:brown;">Angular Application Development:</div>
		<div class="row ml-2 mr-2">Lessons: Angular Components and Services, Data binding, Pipes, Routing, Http Service, Forms.</div>
	</div>
</div>
<div class="row ml-4">
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2" style="font-family:verdana; color:brown;">Node JS and MySQL Integration:</div>
		<div class="row ml-2 mr-2">Lessons: Node JS concepts and modules and integration with MySQL. Single Page Application (SPA) development procedure. </div>
	</div>
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2" style="font-family:verdana; color:brown;">React JS Application Development:</div>
		<div class="row ml-2 mr-2">Lessons: Overview, React Component, States </div>
	</div>
</div>
<div class="row ml-2 mb-2">
	<div class = "col-2">
		Duration:
	</div>
	<div class = "col-10">
		8 weeks (2 months)- Week ends onl y, Saturday/Sunday- 2 hours each day and 4 hours in a week.  
	</div>
</div>
<div class="row ml-2 mb-2">
	<div class = "col-2">
		Contact:
	</div>
	<div class = "col-10">
		noorfaizulca@gmail.com
	</div>
</div>


