
<div class="row">
	<div class="col-4 ">
		<p-panel header="Menu">
		<p-tree [value]=treeNode selectionMode ="single" (onNodeSelect)="nodeSelect($event)" [style]="{'min-width':'30vw','min-height':'70vh', 'overflow':'hidden'}" >
			<a href="javascript:void(0)" (click)="openVideo($event.node.data)"></a>
		</p-tree>
		</p-panel>
	</div>
	<div class="col-4" *ngIf = "url == undefined && lessonMission.length >0 ">
		<br><br>
		<p class="text-left font-bold">Course Objective</p>
		<p class="text-left font-italic" *ngFor ="let lesson of lessonMission; let i=index">
			<i class="fa fa-arrow-circle-right" aria-hidden="true"> {{lesson.description}}</i>
			
		</p>
	</div>
	<div class="col-4" *ngIf = "url == undefined && lessonMission.length >0 ">
		<br><br>
		<div class="row">
			<button type="submit" class="btn btn-block btn-outline-warning float-right" (click)="enrolCourse()">Enroll This Course</button>
		</div><br>
		<div class="row">
			<p class="text-left font-bold">Instructor: {{lessons.lessonAuthor}}</p>
		</div>
		<div class="row">
			<p class="text-left font-bold">Duration:</p>
		</div>
	</div>
	<div class="col-8" *ngIf = "url !== undefined" style= "height:240; width:320">
		<mat-video [autoplay]="false" [preload]="true" [fullscreen]="true" [download]="false" color="accent"
			spinner="spin" style="height:80%; width:50%" >
      		<source matVideoSource src="{{url}}" type="video/mp4">
      		<track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
    	</mat-video>
	</div>
</div>
<!-- 
<div class="row">
	<div class="col-3">
		<nav class="navbar" *ngFor= "let lesson of lessonContents; let i = index">
			<ul class="navbar-nav" >
				<li class="nav-item">					
					{{lesson.lessonTitle}}
					<nav class="navbar" *ngFor= "let title of lesson.subTitle; let i = index">
						<ul class="navbar-nav" >
							<li class="nav-item"><a href="javascript:void(0)" (click)="openVideo(title.lessonLink)">{{title.name}}</a> </li>
						</ul>
					</nav>
				</li>
			</ul> 
		</nav>
	</div>
	<div class="col-9" *ngIf = "videoLink !== undefined" style= "height:240; width:320">
		<mat-video title="My Tutorial Title" [autoplay]="false" [preload]="true" [fullscreen]="false" [download]="false" color="accent"
			spinner="spin" style="height:auto; width:50%" >
      		<source matVideoSource src="{{videoLink}}" type="video/mp4">
      		<track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
    	</mat-video>
	</div>
</div>
-->