<br><br>
<div class="row">
<div class="col-6"></div>
<div class="col-6">
<div class="text-nowrap bd-highlight font-weight-bold text-center" style="width: 8rem;">
  Please input details to Login
</div>
</div>
<div class="col-6"></div>
</div>
<br><br>

	<div class="row">
		<div class="col-6">
			 <div class="form-group">
    			<input type="text" class="form-control" id="id_fName" placeholder="user name" [(ngModel)]="username">
  			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			 <div class="form-group">
    			<input type="text" class="form-control" id="id_fName" placeholder="password" [(ngModel)]="password">
  			</div>
		</div>
	</div>
	
	<div class="row">
		<div class ="col-6">
			  <button type="button" class="btn btn-outline-warning " (click)="userLogin()">Login</button>
		</div>
	</div>
	<div class="row" *ngIf = "null != errorMsg"> 
		<label style="text-align:left; font-size:80%; color:red"
			*ngFor="let ms of errorMsg"> {{ms}}<br><br>
		</label>
	</div>

