<div class="row ml-4 mb-2 mt-4">
	Full Stack Java Development- Instructor led on-line Training
</div>
<div class="row ml-4 mb-2">
	This will help an engineer understand end-to-end application development with Java and related technologies. 
This course will focus on design and architecture of application, build user-facing website, 
create and maintain database to support the application and test and maintain application from a 
full-stack java engineer point of view.
</div>
<div class="row ml-2 mb-2">
	<div class = "col-2">
		Technologies:
	</div>
	<div class = "col-10">
		Java, Java EE, JSP, Servlets, Eclipse, Maven, Spring, Spring boot, 
		Spring MVC, Spring jdbctemplate, JUnit, JPA, RESTful API, Angular, MySQL 
	</div>
</div><br>
<div class="row ml-4">
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2">Introduction to Java Programming and Algorithms in Java:</div>
		<div class="row ml-2 mr-2">Lessons: Java and Advance Java and Algorithms (Sorting, List, Queue, Recursion)</div>
	</div>
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2">RDBMS design Principles and MySQL</div>
		<div class="row ml-2 mr-4">Lessons: Concepts of RDBMS, Database design principles, Query and MySQL</div>
	</div>
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2">Java Web Technologies with Servlet, JSP and JSTL:</div>
		<div class="row ml-2 mr-2">Lessons: Java EE, Web technology, Servlet API, JSP, Tags. Learn with a project.</div>
	</div>
</div>
<div class="row ml-4">
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2">Java Web Development with Maven, MySQL:</div>
		<div class="row ml-2 mr-2">Lessons: Continue with the project with Maven build and backend MySQL database with JDBC.</div>
	</div>
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2">Java Web Application development with Spring MVC, JPA, and testing with Spring Junit:</div>
		<div class="row ml-2 mr-2">Lessons: Continue with the project and include Spring MVC, Java Persistence API and introduction to Testing with Junit.</div>
	</div>
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2">RESTful Application Development with Java, Spring Boots, Spring JdbcTemplate, Postman and Angular. Part- 1</div>
		<div class="row ml-2 mr-2">Lessons: Java EE, Web technology, Servlet API, JSP, Tags. Learn with a project.</div>
	</div>
</div>
<div class="row ml-4">
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2">RESTful Application Development with Java, Spring Boots, Spring JdbcTemplate, Postman and Angular. Part -2:</div>
		<div class="row ml-2 mr-2">Lessons: Introduction to Angular and connect with the ongoing project. Use of Postman for validating RESTful APIs.  </div>
	</div>
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2">Java Web Application development with Spring MVC, JPA, and testing with Spring Junit:</div>
		<div class="row ml-2 mr-2">Lessons: Continue with the project and include Spring MVC, Java Persistence API and introduction to Testing with Junit.</div>
	</div>
	<div class = "col-4 border border-info">
		<div class="row ml-2 mr-2">Automation</div>
		<div class="row ml-2 mr-2">Concepts of Continues Integration (CI) and Continuous Delivery (CD) and building a pipeline. Concepts of Docker </div>
	</div>
</div>





